@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
     url('@/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format("truetype");
}

body{
    font-family: 'Montserrat';
    margin: 0;
}

.h-screen {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}